* {
  font-family: sans-serif;
  margin: 0;
}

.container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ededed;
}

.my-btn {
  background-color: rgb(56, 56, 63);
  font-weight: 500;
  display: block;
  border: none;
  color: white;
  height: 30px;
  width: 100px;
  border-radius: 2px;
  margin: 5px 0 5px 0;
}

.my-create {
  max-width: 400px;
  padding: 10px;
  min-height: 300px;
  border-radius: 10px;
  background-color: white;
}

.my-create textarea,
label {
  display: block;
  margin: 5px 0 5px 0;
}